data/flows.json
[
    {
        "id": "a590b2aff7a0083b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "03ba7e15f5b17d38",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "91c5722bea0a5bd1",
        "type": "deepstack-server",
        "proto": "http",
        "host": "ai-server",
        "port": "32168",
        "version": "v1",
        "rejectUnauthorized": true
    },
    {
        "id": "a78a9b2318c0d3b0",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "9881017039ea80ec",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "f01b1cd2cee3eb70",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "a78a9b2318c0d3b0",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "9881017039ea80ec",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c40344b0.c82658",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "39f5181b32391884",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c53d4d28779deebf",
        "type": "exec",
        "z": "a590b2aff7a0083b",
        "command": "ffmpeg -y -i rtsp://ubnt:ubnt@192.168.178.106:554/s0 -vframes 1 -f image2pipe -vcodec png -",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 780,
        "y": 160,
        "wires": [
            [
                "c7ef6d0d25c840e7",
                "20eefaaad969c605"
            ],
            [],
            []
        ]
    },
    {
        "id": "ccfee27a4b470d74",
        "type": "inject",
        "z": "a590b2aff7a0083b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "c53d4d28779deebf"
            ]
        ]
    },
    {
        "id": "956d799606bce11b",
        "type": "rtsp2mjpeg",
        "z": "a590b2aff7a0083b",
        "url": "rtsp://192.168.178.106:554/s0",
        "username": "ubnt",
        "password": "ubnt",
        "rate": "10",
        "quality": "",
        "resolution": "1920x1080",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "70f758b2060ffb18",
                "c7ef6d0d25c840e7"
            ]
        ]
    },
    {
        "id": "816137247400a2df",
        "type": "inject",
        "z": "a590b2aff7a0083b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "start_conversion",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "956d799606bce11b"
            ]
        ]
    },
    {
        "id": "70f758b2060ffb18",
        "type": "debug",
        "z": "a590b2aff7a0083b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "bb4f9c3e0d2dafa2",
        "type": "inject",
        "z": "a590b2aff7a0083b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stop_conversion",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "956d799606bce11b"
            ]
        ]
    },
    {
        "id": "c7ef6d0d25c840e7",
        "type": "image viewer",
        "z": "a590b2aff7a0083b",
        "name": "",
        "width": "300",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1570,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "50e1d5282c9bdc2f",
        "type": "http request",
        "z": "a590b2aff7a0083b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "ai-server:32168/v1/vision/detection",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1670,
        "y": 180,
        "wires": [
            [
                "73057af8c3459e31"
            ]
        ]
    },
    {
        "id": "39969441f14fcace",
        "type": "debug",
        "z": "a590b2aff7a0083b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 180,
        "wires": []
    },
    {
        "id": "edad7657147bd505",
        "type": "file in",
        "z": "a590b2aff7a0083b",
        "name": "",
        "filename": "/data/sample/sample.jpg",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "c7ef6d0d25c840e7",
                "20eefaaad969c605"
            ]
        ]
    },
    {
        "id": "73ddd73875b7e8d1",
        "type": "inject",
        "z": "a590b2aff7a0083b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "edad7657147bd505"
            ]
        ]
    },
    {
        "id": "69fd65c2125d9b95",
        "type": "function",
        "z": "a590b2aff7a0083b",
        "name": "form request",
        "func": "msg.headers = {\n    \"content-type\" : 'multipart/form-data'\n    };\nlet databuffer = msg.payload;\n\nmsg.payload = {\n    \"KEY\": {\n        \"value\": databuffer,\n        \"options\": {\n            \"filename\": \"myfile.png\",\n            \"min_confidence\": 0.4\n        }\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 180,
        "wires": [
            [
                "50e1d5282c9bdc2f"
            ]
        ]
    },
    {
        "id": "51562dafaf6ca481",
        "type": "deepstack-object-detection",
        "z": "a590b2aff7a0083b",
        "name": "",
        "server": "91c5722bea0a5bd1",
        "confidence": 80,
        "drawPredictions": false,
        "printLabel": false,
        "outlineColor": "pink",
        "custom": "",
        "filters": [],
        "outputs": 1,
        "x": 1600,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "73057af8c3459e31",
        "type": "json",
        "z": "a590b2aff7a0083b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1830,
        "y": 180,
        "wires": [
            [
                "6674d5675e743bf7",
                "9c8e26aff9b30cd8"
            ]
        ]
    },
    {
        "id": "690cc28670c38b8f",
        "type": "pushover",
        "z": "a590b2aff7a0083b",
        "name": "node red",
        "device": "",
        "title": "ai-doorbell",
        "priority": "0",
        "sound": "bike",
        "url": "https://google.com",
        "url_title": "http://google.com",
        "html": false,
        "x": 2060,
        "y": 360,
        "wires": []
    },
    {
        "id": "6674d5675e743bf7",
        "type": "function",
        "z": "a590b2aff7a0083b",
        "name": "function 1",
        "func": "let predictions = msg.payload.predictions;\n\n// Check if there's any object with label \"person\"\nlet personDetected = predictions.some(prediction => prediction.label === \"person\");\n\nif (personDetected) {\n    msg.payload = \"person detected\";\n    msg.url = \"http://192.168.178.185/dashboard/page1\"\n    msg.attachment = flow.get(\"current_image\");\n    node.send(msg);\n};\n// } else {\n//     msg.payload = \"no person detected\";\n// }\n\n// msg.url = \"http://192.168.178.185/dashboard/page1\"\n\n// return msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 260,
        "wires": [
            [
                "690cc28670c38b8f",
                "39969441f14fcace"
            ]
        ]
    },
    {
        "id": "f5a6fe5512500653",
        "type": "inject",
        "z": "a590b2aff7a0083b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1820,
        "y": 360,
        "wires": [
            [
                "690cc28670c38b8f"
            ]
        ]
    },
    {
        "id": "9374a42c1512b5a4",
        "type": "link out",
        "z": "a590b2aff7a0083b",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "389f26d427322623"
        ],
        "x": 1445,
        "y": 920,
        "wires": []
    },
    {
        "id": "0c94c08c98bc8ab5",
        "type": "base64",
        "z": "a590b2aff7a0083b",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 1280,
        "y": 780,
        "wires": [
            [
                "6563d8715af4cb06"
            ]
        ]
    },
    {
        "id": "826392c510ae4932",
        "type": "change",
        "z": "a590b2aff7a0083b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "camera.jpg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 760,
        "wires": [
            [
                "0c94c08c98bc8ab5"
            ]
        ]
    },
    {
        "id": "e52516f093084d35",
        "type": "debug",
        "z": "a590b2aff7a0083b",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 600,
        "wires": []
    },
    {
        "id": "6563d8715af4cb06",
        "type": "string",
        "z": "a590b2aff7a0083b",
        "name": "Get file type from file name",
        "methods": [
            {
                "name": "getRightMost",
                "params": [
                    {
                        "type": "str",
                        "value": "."
                    }
                ]
            }
        ],
        "prop": "filename",
        "propout": "filetype",
        "object": "msg",
        "objectout": "msg",
        "x": 1620,
        "y": 720,
        "wires": [
            [
                "fcf061d4cc732e2e"
            ]
        ]
    },
    {
        "id": "fcf061d4cc732e2e",
        "type": "change",
        "z": "a590b2aff7a0083b",
        "name": "Add the file type to the mimetype, add to image content",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "\"data:image/\"&msg.filetype&\";base64,\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "output",
                "pt": "msg",
                "to": "msg.mimetype&msg.payload",
                "tot": "jsonata"
            },
            {
                "t": "move",
                "p": "output",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2000,
        "y": 740,
        "wires": [
            [
                "3bf4c71150bd0524"
            ]
        ]
    },
    {
        "id": "3bf4c71150bd0524",
        "type": "ui-template",
        "z": "a590b2aff7a0083b",
        "group": "",
        "page": "",
        "ui": "a78a9b2318c0d3b0",
        "name": "Display image",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <!-- Teleport the image to the #app-bar-title area when mounted -->\n    <!-- <Teleport v-if=\"mounted\" to=\"#app-bar-title\">\n        <img :src=\"msg.payload\" style=\"height: 32px;\" />\n    </Teleport> -->\n    <div>\n        <img :src=\"msg.payload\" style=\"width: 800px; height: 600px;\" />\n    <!-- <img ng-src=\"msg.payload\" style=\"width: 569px; height: 197px;\" /> -->\n    </div>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                mounted: false\n            }\n        },\n        mounted() {\n            // Set mounted to true when the component is mounted\n            this.mounted = true\n        }\n    }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:ui",
        "className": "",
        "x": 2300,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "199691be678782fc",
        "type": "debug",
        "z": "a590b2aff7a0083b",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 80,
        "wires": []
    },
    {
        "id": "9c8e26aff9b30cd8",
        "type": "debug",
        "z": "a590b2aff7a0083b",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1930,
        "y": 120,
        "wires": []
    },
    {
        "id": "20eefaaad969c605",
        "type": "change",
        "z": "a590b2aff7a0083b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "current_image",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 180,
        "wires": [
            [
                "69fd65c2125d9b95",
                "199691be678782fc"
            ]
        ]
    }
]